@media only screen and (max-width: 1200px) {
    
    .discruption h2{
        font-size: 17px;
    }
}

@media only screen and (max-width: 991px) {

    .img-fluid{
        width: 100%;
    }

    .template-title h1 {
        font-size: 25px;
    }

    .discruption h2{
        font-size: 15px;
    }
}

@media only screen and (max-width: 575px) {
   
    .template-title h1{
        font-size: 17px;
    }

    .discruption h2{
        font-size: 10px;
    }

    .discruption::before{
        width: 60px;
    }
}